* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.boxesContainer {
    border: 1px solid gray;
    display: flex;
    width: 700px;
}

.box {
    height: 300px;
    border: 1px solid black;
    flex-basis: 300px;
    flex-shrink: 0;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: yellow;
    flex-shrink: 1;
}

.box3 {
    background-color: lightgreen;
    flex-shrink: 1;
}

.registerForm {
    width: 455px;
    height: 455px;
    padding: 40px;
    border-radius: 10px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    align-items: center;
    gap: 10px;
}

.formRow {
    display: flex;
    width: 100%;
    gap: 10px;
}
