* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.boxesContainer {
    min-height: 400px;
    border: 1px solid gray;
}

.box {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: yellow;
}

.box3 {
    background-color: lightgreen;
}